
@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
 
    .content .image-benefits {
        width: 100%;
    }
 
    .content .benefits {
        width: 100%;
    }
}

@media (max-width: 800px) {
   header, header a, header .logo {
       font-size: 1rem;
   } 
   header nav {
       display: none;
   }
   header .logo {
       font-size: 2rem;
   }
   #abrirMenu {
       display: block;
   }
   main {
       flex-direction: column;
       padding-top: 20px;
   }
   main .text {
       width: 80%;
       font-size: 1.5rem;
   }
   main .card_image img {
       max-width: 80%;
   }

   .content {
       flex-direction: column;
       align-items: center;
   }

   .content .image-benefits {
       width: 100%;
   }

   .content .benefits {
       width: 100%;
   }
}

@media (max-width: 450px) {
    main .text {
        margin-top: 50px;
    }
    #formCard .input_text {
        width: 350px;
    }
}